.slide {
    height: 750px;
    width: 100%;
    overflow: hidden;

    .img-responsive {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 790px) {
    .slide {
        height: 300px;
        width: 100%;
    }
}