.navbar {
    background: transparent;

    .nav-item {
        .nav-link {
            color: lightgray;

            &:hover {
                color: darkgrey;
            }
        }

        &:hover {
            border-bottom: darkgrey 3px solid;
        }

        .active {
            color: black;
        }

        margin: 0px 5px;
        padding-top: 5px;
    }

    .active {
        border-bottom: black 3px solid;

        .nav-link, .nav-link:hover {
            color: black;
        }

        &:hover {
            border-bottom: black 3px solid;
        }
    }
}

.navbar-nav {
    float: right;
}

.navbar-brand {
    font-weight: bold;
    transform: translateY(4px);

    &:hover {
        cursor: default;
    }
}

.navbar-toggler {
    color: black;
}

@media (max-width: 790px) {
    .navbar-brand {
        display: none;
    }

    .nav-item {
        text-align: center;
    }
}