.navbar-tansparent {
    .navbar {
        background: transparent;
        transition: background-color 300ms linear;
        .nav-item {
            .nav-link {
                color: #383838;
            }
            &:hover {
                border-bottom: #383838 3px solid;
            }
            .active {
                color: black;
            }
            margin: 0px 5px;
            padding-top: 5px;
        }
        .active {
            border-bottom: black 3px solid;
            .nav-link,
            .nav-link:hover {
                color: black;
            }
            &:hover {
                border-bottom: black 3px solid;
            }
        }
    }
}

.navbar-solid {
    .navbar {
        background: white;
        opacity: 1;
        transition: background-color 400ms linear;
        .nav-item {
            .nav-link {
                color: gray;
                &:hover {
                    color: darkgrey;
                }
            }
            &:hover {
                border-bottom: gray 3px solid;
            }
            .active {
                color: black;
            }
            margin: 0px 5px;
            padding-top: 5px;
        }
        .active {
            border-bottom: black 3px solid;
            .nav-link,
            .nav-link:hover {
                color: black;
            }
            &:hover {
                border-bottom: black 3px solid;
            }
        }
    }
}

.navbar-nav {
    float: right;
}

.navbar-brand {
    font-weight: bold;
    opacity: 1;
    transform: translateY(4px);
    transition: transform 400ms linear;
    &:hover {
        cursor: default;
    }
}

.navbar-tansparent #navbar {
    .navbar-brand {
        color: white;
        opacity: 0;
        transform: translateY(-4px);
        transition: transform 400ms linear;
    }
}

.navbar-toggler {
    color: black;
}

#navbar {
    margin-right: 100px;
}

@media (max-width: 760px) {
    .navbar-nav {
        text-align: left;
        float: left;
        position: relative;
    }
    .navbar-brand {
        display: none;
    }
    .nav-item {
        text-align: center;
    }
    .navbar-tansparent {
        .navbar {
            background: white;
            opacity: .8;
            transition: background-color 400ms linear;
            .nav-item {
                .nav-link {
                    color: gray;
                    &:hover {
                        color: darkgrey;
                    }
                }
                &:hover {
                    border-bottom: gray 3px solid;
                }
                .active {
                    color: black;
                }
                margin: 0px 5px;
                padding-top: 5px;
            }
            .active {
                border-bottom: black 3px solid;
                .nav-link,
                .nav-link:hover {
                    color: black;
                }
                &:hover {
                    border-bottom: black 3px solid;
                }
            }
        }
    }
}