.cmpnt-skill-detail {
    color: black; //height: 1600px;
}

.banner {
    font-size: 50px;
}

.skill-menu-1 {
    display: block;
    .nav-list {
        display: inline-block;
    }
}

.skill-menu-2 {
    display: none;
}

.nav {
    margin-bottom: 5px;
    background: transparent;
    transition: background-color 300ms linear;
    .nav-list {
        .nav-link {
            color: #383838;
            &:hover {
                font-weight: bold;
            }
        }
        .active {
            color: black;
        }
        margin: 0px 5px;
        padding-top: 5px;
    }
    .active {
        border-bottom: black 3px solid;
        font-weight: bold;
        .nav-link {
            color: black;
            font-weight: bold;
        }
    }
}

.skills-header {
    display: inline-block;
    &:after {
        font-family: FontAwesome;
        content: '\f0e7';
        position: absolute;
        top: 8px;
        right: -17px;
        color: #cd4400;
        font-size: 30px;
        font-weight: 600;
        transform: rotateZ(20deg);
    }
}

@media (max-width: 790px) {
    .skills-header {
        &:after {
            font-family: FontAwesome;
            content: '\f0e7';
            position: absolute;
            top: 8px;
            right: -10px;
            color: #cd4400;
            font-size: 18px;
            font-weight: 600;
        }
    }
}

@media (max-width: 780px) {
    .banner {
        font-size: 30px;
    }
    .skill-menu-1 {
        display: none;
    }
    .skill-menu-2 {
        display: block;
    }
    .nav {
        .nav-list {
            border: none;
            &:hover {
                border: none;
                font-weight: bold;
            }
            .nav-link {
                border: none;
                &:hover {
                    border: none;
                }
            }
        }
        .active {
            font-weight: bold;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: calc(50% - 40px);
                bottom: 3px;
                height: 3px;
                width: 80px;
                background: #cd4400;
            }
        }
    }
}

.disabled:hover {
    cursor: wait;
}